*{
    color: #fcfcfc;
    margin: 0;
}
@media (max-width:768px) {
    #tiktok-hide, #shopping-hide, #ricknmorty-hide, #cart-hide, #job-finder-hide {
        display: none;
    }
}
@media (min-width: 768px){
    .built-for-desktop {
        display: none;
    }
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #1f1f1f;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    padding: 0.3em;
    width: 90vw;
}
.txt {
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #3b3b3b;
}
.txt p {
    color: #cccccc;
}
.txt p small {
    color: #b1b1b1;
}
.txt h1 {
    font-size: xx-large;
    margin: 0.3em;
    color: white;
    transition: 0.3s;
}
.txt h1:hover {
    transform: scale(1.05);
}
.txt .profile {
    border-radius: 100px;
}
.txt .contacts {
    margin-top: 0.3em;
    top: 0;
}
.txt .contacts a {
    margin: 0.3em;
    cursor: pointer;
}
.txt .profile {
    border: 1px solid #1f1f1f;
    transition: 0.3s;
}
.txt .profile:hover {
    border: 1px solid white;
}
.ed-cert{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    width: min(65em,95%);
}
.dev-stack {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
    width: min(65em,95%);
}
.dev-stack h2 {
    margin: 0.5em;
    color: white;
    font-size: 2em;
    transition: 0.3s;
}
.dev-stack h2:hover {
    transform: scale(1.03);
}
.dev-stack ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.dev-stack li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1em;
    margin-top: 1em;
    border-right: 1px solid #3b3b3b;
    padding: 1em; 
    color:#cccccc;
    background-color: #3b3b3b;
    border-radius: 5px;
    width: 10em;
    border:1px solid #1f1f1f;
    transition: 0.2s;
}
.dev-stack li:hover {
    background-color: #444444;
    border:1px solid #535353;
}
.dev-stack li img {
    margin-right: 0.5em;
}
.education,
.certificates {
    padding: 0.5em;
    margin: 0.5em;
    
}
.certificates .sep,
.education .sep {
    border-left: 1px solid #3b3b3b;
    padding-left:2em ;
}
.education h2,
.certificates h2 {
    margin: 0.5em;
    font-size: 2em;
    transition: 0.3s;
}
.education h2:hover,
.certificates h2:hover {
    transform: scale(1.03);
}
.education .Moringa,
.education .TUK {
    border-radius: 6px;
    padding: 0.5em;
    margin-bottom: 1em;
    border-left: 2px solid #1f1f1f;
    border-bottom: 2px solid #1f1f1f;
    transition: 0.2s;
}
.education .Moringa:hover,
.education .TUK:hover {
    border-left: 2px solid #444444;
    border-bottom: 2px solid #444444;
}
.education .Moringa .heading ,
.education .TUK .heading{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.education .Moringa img ,
.education .TUK img{
    background-color: #777777;
    padding: 0.2em;
    margin-right: 0.5em;
    border-radius: 2px;
    height: 2.5em;
}
.education .Moringa .dates ,
.education .TUK .dates,
.education .TUK .grade em{
    font-size: smaller;
    margin-bottom: 0.4em;
    font-style: italic;
    color: #cccccc;
    font-weight: none;
}
.education .TUK .grade em{
    transition: 0.2s;
}
.education .TUK .grade em:hover{
    color: white;
}
.education .Moringa em,
.education .TUK em {
    padding-top: 0.5em;
    color: #fcfcfc;
}
.certificates .harvard,
.certificates .simplilearn,
.certificates .math-works {
    border-right: 2px solid #1f1f1f;
    border-bottom: 2px solid #1f1f1f;
    border-radius: 6px;
    padding: 0.5em;
    margin-bottom: 1em;
}
.certificates .harvard:hover,
.certificates .simplilearn:hover,
.certificates .math-works:hover {
    border-right: 2px solid #444444;
    border-bottom: 2px solid #444444;
}
.certificates .harvard .heading ,
.certificates .simplilearn .heading,
.certificates .math-works .heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5em;
}
.certificates .harvard img ,
.certificates .simplilearn img,
.certificates .math-works img {
    background-color: #777777;
    padding: 0.2em;
    margin-right: 0.5em;
    border-radius: 2px;
    height: 2.5em;
}
.certificates .harvard h3,
.certificates .simplilearn h3,
.certificates .math-works h3 {
    font-size: larger;
}
.certificates .harvard .dates,
.certificates .simplilearn .dates,
.certificates .math-works .dates {
    font-size: smaller;
    margin-bottom: 0.4em;
    font-style: italic;
    color: #cccccc;
}
.certificates .harvard em,
.certificates .simplilearn em ,
.certificates .math-works em {
    padding-top: 0.5em;
}
.experience{
    border-radius: 8px;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: min(60em,95%);
}
.experience h2 {
    margin: 0.5em;
    font-size: 2em;
    transition: 0.3s;
}
.experience h2:hover{
    transform: scale(1.03);
}
.experience .freelance,
.experience .mech {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1em;
    justify-content: space-between;
    padding-top: 0.5em;
    background-color: #3b3b3b;
    border-radius: 8px;
    border:1px solid #535353;
}
.experience .freelance .details,
.experience .mech .details {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}
.experience .freelance .details h3,
.experience .mech .details h3 {
    font-size: 1.3em;
    transition: 0.3s;
}
.experience .freelance .details h3:hover,
.experience .mech .details h3:hover {
    color: white;
    transform: scale(1.03);
}
.experience .freelance .details p,
.experience .mech .details p {
    font-size: 0.8em;
    margin-bottom: 0.4em;
    color: #cccccc;
}
.experience .freelance .details h4,
.experience .mech .details h4 {
    font-size: 1em;
    font-weight: lighter;
    transition: 0.3s;
}
.experience .freelance .details h4:hover,
.experience .mech .details h4:hover {
    color: white;
    transform: scale(1.03);
}
.experience .freelance .description ,
.experience .mech .description {
    border-left: 1px solid #535353;
    list-style: none;
    width: 30em;
}
.experience .freelance .description li,
.experience .mech .description li  {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.15em;
    transition: 0.2s;
    color: #cccccc;
}
.experience .freelance .description li:hover,
.experience .mech .description li:hover {
    color: #e0e0e0;
}
.projects{
    display: flex;
    flex-direction: column;
    width: min(66em,95%);
}
.projects h2 {
    margin: 0.5em;
    font-size: 2em;
    transition: 0.3s;
}
.projects h2:hover{
    transform: scale(1.03);
}
.projects .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.projects .container .ws4,
.projects .container .shopping,
.projects .container .cart,
.projects .container .xter-mgmt,
.projects .container .tv-show,
.projects .container .tiktok ,
.projects .container .jobFinder,
.projects .container .portfolio,
.projects .container .satSim{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #3b3b3b;
    border:1px solid #535353;
    border-radius: 8px;
    transition: 0.2s ease-out;
    width: 30em;
} 
.projects .container .ws4:hover,
.projects .container .shopping:hover,
.projects .container .cart:hover,
.projects .container .xter-mgmt:hover,
.projects .container .tv-show:hover,
.projects .container .tiktok:hover,
.projects .container .satSim:hover,
.projects .container .portfolio:hover,
.projects .container .jobFinder:hover {
    transform: scale(1.01);
}
.projects .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 100%;
}
.projects .img-container img {
    object-fit: cover;
    margin-left: 1em;
    width: 20em;
}
.projects .details {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.projects .details h4 {
    font-size: larger;
    text-align: center;
}
.projects .details p {
    font-size: small;
    color: #cccccc;
    font-style: italic;
}
.projects .pa {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projects .stack-used {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.projects .stack-used img{
    margin: 0.25em;
}
.projects .more ,
.projects .back {
    background-color: transparent;
    border: 1px solid #777777;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 3px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}
.projects .more:hover,
.projects .back:hover {
    background-color: #cccccc;
    color: #1f1f1f;
}

.projects .WS4Project {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5em;
    background-color: #3b3b3b;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.projects img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-right: 1em;
    border-radius: 3px;
}
.projects .WS4Project .img-contain {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.projects .WS4Project ul {
    list-style: none;
}
.projects .WS4Project ul li {
    color: #cccccc;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    transition: 0.3s;
}
.projects .WS4Project ul li:hover {
    color: white;
}
.projects .back {
    margin-bottom:1em;
}

