*{
    color: #fcfcfc;
    margin: 0;
}
body{
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container {
    background-color: #1f1f1f;
    padding: 0.3em;
    width: 64em;
}
.txt {
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #3b3b3b;
}
.txt p {
    color: #cccccc;
}
.txt p small {
    color: #b1b1b1;
}
.txt h1 {
    font-size: xx-large;
    margin: 0.3em;
    color: white;
}
.txt .profile {
    border-radius: 100px;
}
.txt .contacts {
    margin-top: 0.3em;
    top: 0;
}
.txt .contacts a {
    margin: 0.3em;
    cursor: pointer;
}
.ed-cert{
    display: flex;
    align-items: center;
    height: 25em;
    padding-bottom: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.dev-stack h2 {
    margin: 0.5em;
    color: white;
    font-size: 2em;
}
.dev-stack {
    padding-bottom: 1em;
    margin-bottom: 0.5em;
}
.dev-stack ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.dev-stack li {
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-top: 1em;
    border-right: 1px solid #3b3b3b;
    padding: 1em; 
    color:#cccccc;
    background-color: #3b3b3b;
    border-radius: 5px;
    width: 11em;
    transition: 0.2s;
}
.dev-stack li:hover {
    background-color: #444444;
}
.dev-stack li img {
    margin-right: 0.5em;
}
.education,
.certificates {
    padding: 0.5em;
    margin: 0.5em;
    height: 23em;
    width: 29.2em;
}
.certificates .sep{
    border-left: 1px solid #3b3b3b;
    padding-left:2em ;
}
.education h2,
.certificates h2 {
    margin: 0.5em;
    text-align: center;
    font-size: 2em;
    transition: 0.2s;
}
.education h2:hover,
.certificates h2:hover {
    transform: scale(1.05);
}
.education .Moringa,
.education .TUK {
    border-radius: 6px;
    padding: 0.5em;
    margin-bottom: 1em;
    border-left: 2px solid #1f1f1f;
    border-bottom: 2px solid #1f1f1f;
    transition: 0.2s;
}
.education .Moringa:hover,
.education .TUK:hover {
    border-left: 2px solid #444444;
    border-bottom: 2px solid #444444;
}
.education .Moringa .heading ,
.education .TUK .heading{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.education .Moringa img ,
.education .TUK img{
    background-color: #777777;
    padding: 0.2em;
    margin-right: 0.5em;
    border-radius: 2px;
    height: 2.5em;
}
.education .Moringa h3 ,
.education .TUK h3{
    font-size: larger;
}
.education .Moringa .dates ,
.education .TUK .dates,
.education .TUK .grade em{
    font-size: smaller;
    margin-bottom: 0.4em;
    font-style: italic;
    color: #cccccc;
    font-weight: none;
}
.education .TUK .grade em{
    transition: 0.2s;
}
.education .TUK .grade em:hover{
    color: white;
}
.education .Moringa em,
.education .TUK em {
    padding-top: 0.5em;
    color: #fcfcfc;
}
.certificates .harvard,
.certificates .simplilearn,
.certificates .math-works {
    border-right: 2px solid #1f1f1f;
    border-bottom: 2px solid #1f1f1f;
    border-radius: 6px;
    padding: 0.5em;
    margin-bottom: 1em;
}
.certificates .harvard:hover,
.certificates .simplilearn:hover,
.certificates .math-works:hover {
    border-right: 2px solid #444444;
    border-bottom: 2px solid #444444;
}
.certificates .harvard .heading ,
.certificates .simplilearn .heading,
.certificates .math-works .heading {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}
.certificates .harvard img ,
.certificates .simplilearn img,
.certificates .math-works img {
    background-color: #777777;
    padding: 0.2em;
    margin-right: 0.5em;
    border-radius: 2px;
    height: 2.5em;
}
.certificates .harvard h3,
.certificates .simplilearn h3,
.certificates .math-works h3 {
    font-size: larger;
}
.certificates .harvard .dates,
.certificates .simplilearn .dates,
.certificates .math-works .dates {
    font-size: smaller;
    margin-bottom: 0.4em;
    font-style: italic;
    color: #cccccc;
}
.certificates .harvard em,
.certificates .simplilearn em ,
.certificates .math-works em {
    padding-top: 0.5em;
}
.experience{
    border-radius: 8px;
    padding: 0.5em;
    width: 87%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.experience h2 {
    text-align: center;
    margin: 0.5em;
    font-size: 2em;
    transition: 0.2s;
}
.experience h2:hover{
    transform: scale(1.05);
}
.experience .freelance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5em;
    background-color: #3b3b3b;
    border-radius: 8px;
}
.experience .freelance .details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.experience .freelance .details h3{
    font-size: 1.3em;
    transition: 0.2s;
}
.experience .freelance .details h3:hover{
    color: white;
    transform: scale(1.05);
}
.experience .freelance .details p {
    font-size: 0.8em;
    margin-bottom: 0.4em;
    color: #cccccc;
}
.experience .freelance .details h4 {
    font-size: 1em;
    font-weight: lighter;
    transition: 0.2s;
}
.experience .freelance .details h4:hover {
    color: white;
    transform: scale(1.05);
}
.experience .freelance .description {
    border-left: 1px solid #535353;
    list-style: none;
}
.experience .freelance .description li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.15em;
    transition: 0.2s;
    color: #cccccc;
}
.experience .freelance .description li:hover {
    color: #e0e0e0;
}
